# Banco de dados

In [1]:
import sqlite3
conexao = sqlite3.connect("banco.sqlite")
print(conexao)

<sqlite3.Connection object at 0x000001A9B790EB60>

## Conexão

In [2]:
cursor = conexao.cursor()

## Comandos

### Criar Tabela

In [3]:
cursor.execute('CREATE TABLE Cliente (id INTEGER PRIMARY KEY AUTOINCREMENT, none VARCHAR(100), email VARCHAR(150))')

### Inserir

In [4]:
data = ("guilherme","gui@gmail.com")
cursor.execute('INSERT INTO Cliente (none,email) VALUES (?,?)',data)
conexao.commit()

### Atualizar

In [5]:
data = ('Guilherme carvalho', 'guilherme@gmail.com', 1)
cursor.execute('UPDATE Cliente SET none=?,email=? WHERE id=?', data)
conexao.commit()

### Deletar

In [6]:
data = (1,)
cursor.execute('DELETE FROM Cliente WHERE id=?', data)
conexao.commit()

### Inserir em Lote

In [7]:
data = [("guilherme","gui@gmail.com"),
        ("thiago","thiago@gmail.com"),
        ("karla","karla@gmail.com")
        ]
cursor.executemany('INSERT INTO Cliente (none,email) VALUES (?,?)',data)
conexao.commit()

## Consultas

### Um resultado

In [8]:
data = (1,)
cursor.execute('SELECT * FROM Cliente WHERE id=?',data)
retorno = cursor.fetchone()
print(retorno)

None

### Multiplos resultados

In [10]:
retorno = cursor.execute('SELECT * FROM Cliente ORDER BY none;')

for ind in retorno:
    print(ind)

(2, 'guilherme', 'gui@gmail.com')
(4, 'karla', 'karla@gmail.com')
(3, 'thiago', 'thiago@gmail.com')

### row_factory

In [13]:
cursor.row_factory = sqlite3.Row
retorno = cursor.execute('SELECT * FROM Cliente ORDER BY none;')
for ind in retorno:
    print(dict(ind))

{'id': 2, 'none': 'guilherme', 'email': 'gui@gmail.com'}
{'id': 4, 'none': 'karla', 'email': 'karla@gmail.com'}
{'id': 3, 'none': 'thiago', 'email': 'thiago@gmail.com'}

## Boas práticas

Para evitar o vazamento de dados é importante não concatenar os comandos SQL usando str, e sim usando os comando da própria biblioteca de SQL ````DB API````.

### Gerenciamento de Transações

Quando temos várias operações e uma delas acorre um erro, é necessário cancelar todas as transações, nesse caso usa-se a função ````rollback````

In [15]:
cursor.row_factory = sqlite3.Row
try:
    cursor.execute('INSERT INTO Cliente(none, email) VALUES (?,?)',('teste_1','teste_1@gmail.com'))
    cursor.execute('INSERT INTO Cliente(id, none, email) VALUES (?,?)',(2,'teste_2','teste_2@gmail.com'))
except Exception as exc:
    print(f"erro ocorreu {exc}")
    conexao.rollback()
finally:
    conexao.commit()

erro ocorreu 2 values for 3 columns

In [14]:
try:
    cursor.execute('INSERT INTO Cliente(none, email) VALUES (?,?)',('teste_1','teste_1@gmail.com'))
    cursor.execute('INSERT INTO Cliente(id, none, email) VALUES (?,?)',(2,'teste_2','teste_2@gmail.com'))
    conexao.commit()
except Exception as exc:
    print(f"erro ocorreu {exc}")
    conexao.rollback()

erro ocorreu 2 values for 3 columns