# Banco de dados

In [1]:
import sqlite3
conexao = sqlite3.connect("banco.sqlite")
print(conexao)

<sqlite3.Connection object at 0x0000020F5D2648B0>

## Conex√£o

In [2]:
cursor = conexao.cursor()

## Comandos

### Criar Tabela

In [3]:
cursor.execute('CREATE TABLE Cliente (id INTEGER PRIMARY KEY AUTOINCREMENT, none VARCHAR(100), email VARCHAR(150))')

### Inserir

In [7]:
data = ("guilherme","gui@gmail.com")
cursor.execute('INSERT INTO Cliente (none,email) VALUES (?,?)',data)
conexao.commit()

### Atualizar

In [9]:
data = ('Guilherme carvalho', 'guilherme@gmail.com', 1)
cursor.execute('UPDATE Cliente SET none=?,email=? WHERE id=?', data)
conexao.commit()

### Deletar

In [10]:
data = (1,)
cursor.execute('DELETE FROM Cliente WHERE id=?', data)
conexao.commit()

### Inserir em Lote

In [13]:
data = [("guilherme","gui@gmail.com"),
        ("thiago","thiago@gmail.com"),
        ("karla","karla@gmail.com")
        ]
cursor.executemany('INSERT INTO Cliente (none,email) VALUES (?,?)',data)
conexao.commit()

## Consultas

### Um resultado

In [18]:
data = (1,)
cursor.execute('SELECT * FROM Cliente WHERE id=?',data)
retorno = cursor.fetchone()
print(retorno)

None

### Multiplos resultados

In [22]:
retorno = cursor.execute('SELECT * FROM Cliente;')

for ind in retorno:
    print(ind)

(2, 'guilherme', 'gui@gmail.com')
(3, 'thiago', 'thiago@gmail.com')
(4, 'karla', 'karla@gmail.com')
(5, 'guilherme', 'gui@gmail.com')
(6, 'thiago', 'thiago@gmail.com')
(7, 'karla', 'karla@gmail.com')