# Estrutura de dados em Python üêç

Em Python, uma estrutura de dados √© uma maneira de organizar e armazenar dados de uma forma que possa ser acessada e manipulada de maneira eficiente. Existem v√°rias estruturas de dados em Python, cada uma com suas pr√≥prias caracter√≠sticas e usos espec√≠ficos. Algumas das estruturas de dados padr√µes em Python incluem:

1. **Listas (list)**: Uma lista √© uma cole√ß√£o ordenada de elementos que podem ser de diferentes tipos de dados. Os elementos em uma lista s√£o acessados por meio de √≠ndices (posi√ß√µes), e a lista pode ser modificada adicionando, removendo ou alterando elementos.
2. **Tuplas (tuple)**: Uma tupla √© semelhante a uma lista, mas √© imut√°vel, o que significa que seus elementos n√£o podem ser alterados ap√≥s a cria√ß√£o da tupla. As tuplas s√£o geralmente usadas para representar cole√ß√µes de dados heterog√™neos e s√£o acessadas por meio de √≠ndices.
3. **Dicion√°rios (dict)**: Um dicion√°rio √© uma cole√ß√£o n√£o ordenada de pares chave-valor, onde cada chave √© √∫nica e mapeada para um valor correspondente. Os valores em um dicion√°rio s√£o acessados por meio de suas chaves, e os dicion√°rios s√£o √∫teis para armazenar e recuperar dados de forma eficiente.
4. **Conjuntos (set):** Um conjunto √© uma cole√ß√£o n√£o ordenada de elementos √∫nicos e imut√°veis. Os conjuntos s√£o usados principalmente para realizar opera√ß√µes de conjunto, como uni√£o, interse√ß√£o e diferen√ßa, e s√£o √∫teis para remover duplicatas de outras cole√ß√µes.

## Listas

Um conjunto de par√¢metros consiste em uma lista com nenhum ou mais elementos. Por√©m √© poss√≠vel uma lista com um √∫nico par√¢metro. As listas armazenam tipos diferentes de dadas.

(Fonte: Alura)

Listas em Python podem armazenar de maneira sequencial qualquer tipo de objeto. Podemos criar listas utilizando o construtor list, a fun√ß√£o range ou colocando valores separados por v√≠rgula dentro de colchetes. Listas s√£o objetos mut√°veis, portanto podemos alterar seus valores ap√≥s a cria√ß√£o.

(Fonte: DIO)

In [11]:
lista = [12 , 33, 40]
lista = list(["laranja","Pera","Uva"])
type(lista)

list

A lista √© uma sequ√™ncia, portanto podemos **acessar** seus dados utilizando **√≠ndices**. Contamos o √≠ndice de determinada sequ√™ncia a partir do zero. Sequ√™ncias suportam indexa√ß√£o negativa. A contagem come√ßa em -1.

(Fonte: DIO)

In [12]:
print(lista[2])
print(lista[-1])

Uva
Uva

Listas podem armazenar todos os tipos de objetos Python, portanto podemos ter listas que armazenam outras listas. Com isso podemos criar estruturas bidimensionais (tabelas), e acessar informando os √≠ndices de linha e coluna.

In [14]:
matriz = [
    [1,"a",2],
    ["b",3,4],
    [6,5,10]
]

print(matriz[0][0])
print(matriz[-1][-1])

1
10

### Fatiamento

Al√©m de acessar elementos diretamente, podemos extrair um conjunto de valores de uma sequ√™ncia. Para isso basta passar o √≠ndice inicial e/ou final para acessar o conjunto. Podemos ainda informar quantas posi√ß√µes o cursor deve "pular" no acesso.

(Fonte: DIO)

In [ ]:
lista = ["p","y","t","h","o","n"]

In [ ]:
lista[2:]

['t', 'h', 'o', 'n']

In [ ]:
lista[0:6:2]#[inicio:fim:fataimento]

['p', 't', 'o']

In [ ]:
lista[::-1]

['n', 'o', 'h', 't', 'y', 'p']

### La√ßos e loops em listas

A forma mais comum para percorrer os dados de uma lista √© utilizando o comando for.

(Fonte: DIO)

In [ ]:
lista = [5,8,9,10,20,33,40,51]

menor,maior = [], []
# Para cada elemento na lista
for elemento in lista:
  if elemento >= 18:
    maior.append(elemento)
  else:
    menor.append(elemento)

In [ ]:
print(f"lista de menor: {menor}")
print(f"lista de maior: {maior}")

lista de menor: [5, 8, 9, 10]
lista de maior: [20, 33, 40, 51]

√Äs vezes √© necess√°rio saber qual o **√≠ndice do objeto** dentro do la√ßo for. Para isso podemos usar a **fun√ß√£o enumerate**.

(Fonte: DIO)

In [ ]:
lista = list(["laranja","Pera","Uva"])

for indice,fruta in enumerate(lista):
    print(f"Fruta {indice}: {fruta}")

Fruta 0: laranja
Fruta 1: Pera
Fruta 2: Uva

#### Compreens√£o de listas

A compreens√£o de lista oferece uma sintaxe mais curta quando voc√™ deseja: criar uma nova lista com base nos valores de uma lista existente (filtro) ou gerar uma nova lista aplicando alguma modifica√ß√£o nos elementos de uma lista existente.

(Fonte: DIO)

In [ ]:
lista = [5,8,9,10,20,33,40,51]
# Pega os numeros da lista se eles forem par
pares = [numero for numero in lista if numero % 2 == 0]
print(f"N√∫meros pares: {pares}")

N√∫meros pares: [8, 10, 20, 40]

In [ ]:
lista = [5,8,9,10,20,33,40,51]

quadrado = [ numero**2 for numero in lista ]
print(f"N√∫meros ao quadrado: {quadrado}")

N√∫meros ao quadrado: [25, 64, 81, 100, 400, 1089, 1600, 2601]

### M√©todos da classe list

#### Append

In [29]:
lista = [10,5,20]

lista.append(int(input("Digite um n√∫mero: ")))

print(f"lista: {lista}")

lista: [10, 5, 20, 700]

#### Clear

In [33]:
lista = [10,5,20,"python"]

lista.clear()

print(lista)

[]

#### Copy

In [34]:
lista = [10,5,20,"python"]

lista.copy()

[10, 5, 20, 'python']

#### Count

In [36]:
lista = [10,5,20,"python",10]

lista.count(10)

2

#### Extend

In [37]:
lista = [10,5,20,"python"]
lista.extend(["texto",10,300])
lista

[10, 5, 20, 'python', 'texto', 10, 300]

#### Copy

In [38]:
lista = [10, 5, 20, 'python', 'texto', 10, 300]
lista.index(300)

6

#### Pop

In [39]:
lista = [10, 5, 20, 'python', 'texto', 10, 300]
lista.pop()
lista

[10, 5, 20, 'python', 'texto', 10]

#### Remove

In [40]:
lista = [10, 5, 20, 'python', 'texto', 10, 300]
lista.remove(10)
lista

[5, 20, 'python', 'texto', 10, 300]

#### Reverse

In [41]:
lista = [10, 5, 20, 'python', 'texto', 10, 300]
lista.reverse()
lista

[300, 10, 'texto', 'python', 20, 5, 10]

#### Sort

In [44]:
lista = ["java","python", "texto", "PHP", "Matlab"]
lista.sort()

lista

['Matlab', 'PHP', 'java', 'python', 'texto']

In [47]:
# Inverter a ordem alfab√©tica
lista = ["java","python", "texto", "PHP", "Matlab"]
lista.sort(reverse=True)

lista

['texto', 'python', 'java', 'PHP', 'Matlab']

In [48]:
# Ordenar por tamanho da palavra menor para maior
lista = ["java","python", "texto", "PHP", "Matlab"]
lista.sort(key=lambda x: len(x))

lista

['PHP', 'java', 'texto', 'python', 'Matlab']

In [49]:
# Ordenar por tamanho da palavra maior para menor
lista = ["java","python", "texto", "PHP", "Matlab"]
lista.sort(key=lambda x: len(x),reverse=True)

lista

['python', 'Matlab', 'texto', 'java', 'PHP']

#### len

In [50]:
lista = ["java","python", "texto", "PHP", "Matlab"]
len(lista)

5

## Tuplas

As tuplas, sequ√™ncias utilizadas para armanzear cole√ß√µes de itens, assim como as listas que aprendemos no curso anterior. A diferen√ßa b√°sica entre elas √© que, diferentemente das listas, as tuplas s√£o imut√°veis - ou seja, n√£o √© poss√≠vel modific√°-las. S√£o **listas estaticas**. Como usar uma tupla:
- Utilizando um par de par√™nteses: ( )
- Utilizando uma v√≠rgula √† direita: x,
- Utilizando um par de par√™nteses com itens separados por v√≠rgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)

(Fonte: Alura)

Tuplas s√£o estruturas de dados muito parecidas com as listas, a principal diferen√ßa √© que tuplas s√£o imut√°veis enquanto listas s√£o mut√°veis. Podemos criar tuplas atrav√©s da classe tuple, ou colocando valores separados por v√≠rgula de parenteses.

(Fonte: DIO)

In [1]:
tupla = ('Jose',)
tupla = tuple(['Jose','Matheus','Thiago'])
tupla = ('Jose','Matheus','Thiago')
tupla

('Jose', 'Matheus', 'Thiago')

### Acesso a tuplas

A tupla √© uma sequ√™ncia, portanto podemos acessar seus dados utilizando √≠ndices. Contamos o √≠ndice de determinada sequ√™ncia a partir do zero.


(Fonte: DIO)

In [6]:
tupla = tuple(['Jose','Matheus','Thiago'])
print(tupla[0])
print(tupla[-1])

Jose
Thiago

### Tuplas alinhadas

Tuplas podem armazenar todos os tipos de objetos Python, portanto podemos ter tuplas que armazenam outras tuplas. Com isso podemos criar estruturas bidimensionais (tabelas), e acessar informando os √≠ndices de linha e coluna. 

(Fonte: DIO)

In [8]:
tupla = ('Jose','Matheus','Thiago',('Soares','Ferreira'))
tupla

('Jose', 'Matheus', 'Thiago', ('Soares', 'Ferreira'))

In [9]:
print(tupla[3][0])
print(tupla[3][-1])

Soares
Ferreira

### Fatiamento de tupla

Al√©m de acessar elementos diretamente, podemos extrair um conjunto de valores de uma sequ√™ncia. Para isso basta passar o √≠ndice inicial e/ou final para acessar o conjunto. Podemos ainda informar quantas posi√ß√µes o cursor deve "pular" no acesso.


(Fonte: DIO)

In [15]:
lista = ["p","y","t","h","o","n"]
lista

['p', 'y', 't', 'h', 'o', 'n']

### Itera√ß√µes em tuplas

Existe v√°rias formas de iterar por uma tupla. A t√©cnica conhecida como desempacotamento de tuplas. A utilizar a built-in function zip()

(Fonte: Alura)

A forma mais comum para percorrer os dados de uma tupla √© utilizando o comando for.

(Fonte: DIO)

In [21]:
nomes = ('Jose','Matheus','Thiago','Soares','Potter')
valores = (1,2,3,4,5)

In [20]:
for nome in nomes:
  print(nome)

Jose
Matheus
Thiago
Soares
Potter

In [22]:
for indice,valor in enumerate(valores):
    print(f"valor do {indice}: {valor}")

valor do 0: 1
valor do 1: 2
valor do 2: 3
valor do 3: 4
valor do 4: 5

### M√©todos da classe tuple

#### Count

In [23]:
nomes = ('Jose','Matheus','Thiago','Soares','Matheus')
print(nomes.count("Matheus"))

2

#### Index

In [24]:
nomes = ('Jose','Matheus','Thiago','Soares')
print(nomes.index("Matheus"))

1

#### Len

In [25]:
nomes = ('Jose','Matheus','Thiago','Soares')
print(len(nomes))

4

## Dicion√°rio

Vimos que as listas s√£o cole√ß√µes sequenciais ordenadas que utilizam √≠ndices para acessar seus valores. Os dicion√°rios s√£o cole√ß√µes um pouco diferentes que representam um tipo de mapeamento, e mapeamento s√£o cole√ß√µes de associa√ß√µes entre dados e valores, em que o primeiro elemento √© conhecido como chave e o segundo valor.

1. Listas s√£o estruturas de dados que representam um tipo b√°sico de sequ√™ncia.

2. Mapeamentos s√£o cole√ß√µes sequenciais ordenadas, que utilizam √≠ndices para acessar os valores

In [ ]:
# Criando um dicion√°rio
dicionario = {'chave_1': ["valor_1", "valor_1"],'chave_2': ["valor_2", "valor_2"]}
dicionario

{'chave_1': ['valor_1', 'valor_1'], 'chave_2': ['valor_2', 'valor_2']}

In [ ]:
type(dicionario)

dict

### Exemplo de cria√ß√£o de dicion√°rio

In [ ]:
 # Outra forma de criar dicion√°rio
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]
dict(zip(nomes, kms))

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

### Opera√ß√µes com dicion√°rios

1. Retornar o valor correspondente √† chave do dicion√°rio

In [ ]:
dicionario["chave_1"]

['valor_1', 'valor_1']

2. Retorna verdadeiro se a chave for mapeada no dicion√°rio

In [ ]:
'chave_1' in dicionario

True

3. Retorna o n√∫mero de itens no dicion√°rio

In [ ]:
len(dicionario)

2

4. Adicionar um item ao dicion√°rio

In [ ]:
dicionario['nova_chave'] = [100, 200, 300]
dicionario

{'chave_1': 100,
 'chave_2': ['valor_2', 'valor_2'],
 'nova_chave': [100, 200, 300]}

5. Remover uma chave

In [ ]:
del dicionario['nova_chave']
dicionario

{'chave_1': 100, 'chave_2': ['valor_2', 'valor_2']}

6. Atualizar dicion√°rio

In [ ]:
dicionario.update({'chave_3':['valor_3'],'chave_4':['valor_4']})
dicionario

{'chave_1': 100,
 'chave_2': ['valor_2', 'valor_2'],
 'chave_3': ['valor_3'],
 'chave_4': ['valor_4']}

7. Copiar um dicion√°rio

In [ ]:
dadosCopy = dicionario.copy()
dadosCopy

{'chave_1': 100,
 'chave_2': ['valor_2', 'valor_2'],
 'chave_3': ['valor_3'],
 'chave_4': ['valor_4']}

8. Eliminar uma chave do dicion√°rio e rotornar seu valor

  Se a chave for encontrada no dicion√°rio, o item √© removido e seu valor √© retornado. Caso contr√°rio, o valor especificado como default √© retornado. Se o valor default n√£o for fornecido e a chave n√£o for encontrada no dicion√°rio um erro ser√° gerado.

In [ ]:
dadosCopy.pop('chave_1',"Chave n√£o encontrada")

100

In [ ]:
dadosCopy.pop('chave_1',"Chave n√£o encontrada")

'Chave n√£o encontrada'

9. Remover todos os itens do dicion√°rio

In [ ]:
dadosCopy.clear()
dadosCopy

{}

#### Exemplo de opera√ß√µes

1) Testar se a chave acessorios existe no dicion√°rio de informa√ß√µes do carro Crossfox (Resposta: False)

2) Testar se a chave acessorios existe no dicion√°rio de informa√ß√µes do carro Passat (Resposta: True)

3) Obter o valor do carro Crossfox (Resposta: 25000)

4) Acessar o √∫ltimo acess√≥rio do carro Passat (Resposta: 'ABS')

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    },
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:
dados['Crossfox']['valor']

25000

In [ ]:
dados['Passat']['acessorios'][-1]

'ABS'

### Itera√ß√µes em dicion√°rio

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

Retorna uma lista contendo as chaves do dicion√°rio

In [ ]:
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [ ]:
for key in dados.keys():
  print(dados[key])

72832.16
124549.07
150000
88078.64
106161.95

Retorna os valores do dicion√°rio

In [ ]:
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

Retorna uma tupla contendo o par chave-valor

In [ ]:
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [ ]:
for key,value in dados.items():
  print(key,value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

#### Exemplo de itera√ß√£o

c√≥digo que imprime somente os nomes dos ve√≠culos com ano de fabrica√ß√£o maior ou igual a 2000.

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005},
    'DS5': {'valor': 125000, 'ano': 2015},
    'Fusca': {'valor': 150000, 'ano': 1976},
    'Jetta': {'valor': 88000, 'ano': 2010},
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for item in dados.items():
    print(item)

('Crossfox', {'valor': 72000, 'ano': 2005})
('DS5', {'valor': 125000, 'ano': 2015})
('Fusca', {'valor': 150000, 'ano': 1976})
('Jetta', {'valor': 88000, 'ano': 2010})
('Passat', {'valor': 106000, 'ano': 1998})

In [ ]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta